extends layout

block content
    if(user)
      h3 Welcome #{user.name}
    br
    .container 
      a(href="/add").btn.btn-primary(style="float:right") Add Product 
      br
    br
    table.table.table-striped.table-hover.table-dark.align-items-center
      thead.table-dark 
        tr 
          th Name
          th Description
          th Price
          th Rating
          th Cart
      tbody 
        each product in products 
          tr 
            td=product.name
            td=product.description
            td=product.price
            td
              -let n=0
              while n<=4
                if product.rating-1>=n
                  span 
                    i.fa.fa-star(style="color:green")
                else
                  span 
                    i.fa.fa-star
                -n+=1
            td 
              a(href="/cart/"+product._id).btn.btn-primary Add to Cart 
