extends ../layout

block content
  h1 Login
  form(action="/login",method="post")        
        .form-group
            label(for="email") Email
            input(type="email" ,class="form-control" ,id="email" ,name="email" ,placeholder="Email",required)
        .form-group
            label(for="password") Password
            input(type="password" ,class="form-control" ,id="pass" ,name="password" ,placeholder="Password",required)
        input(type="submit", class="btn btn-info" value="Login")
